<div class="cart">
  <div *ngIf="cart.length > 0">
    <h2 class="h2">Mi Carrito</h2>
    <ul class="ul">
      <li class="li" *ngFor="let product of cart">
        {{ product.name }} - ${{ product.price }} x {{ product.quantity }}
        <button class="button" (click)="removeFromCart(product.id)">Eliminar</button>
      </li>
    </ul>
    <p class="p">Total: ${{ total }}</p>
    <button class="button" (click)="checkout()">Finalizar compra</button>
  </div>
  
  <div *ngIf="cart.length === 0">
    <p class="p">El carrito está vacío.</p>
  </div>
  
</div>