.cart{
    height: 80vh;
}
.cart:host {
    display: none; /* Por defecto, el carrito estará oculto */
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    background-color: #c1c1c1;/* rgba(0, 0, 0, 0.8);  Fondo oscuro transparente */
    color: white; /* Texto blanco */
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
    max-width: 400px;
    z-index: 999;
    animation: slideDown 0.3s ease-in-out;
}

.cart:host-context(.active) {
    display: block; /* Mostrar carrito cuando tenga la clase activa */
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -10%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #f1f1f1;
    text-align: center;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo para cada ítem */
    border-radius: 8px;
}

.button {
    background-color: #ff5757; /* Color rojo para los botones */
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e60000; /* Color al pasar el mouse */
}

.p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.button:disabled {
    background-color: #555;
    cursor: not-allowed;
}
