<nav class="navbar">
  <div class="navbar-container">
      <div class="search">
          <input type="search" name="search" id="search" placeholder="search">
      </div>
<!--
          <div class="navbar-logo">
          <a href="#">Logo</a>
      </div>
-->
      <ul class="navbar-menu" [ngClass]="{ 'active': isMenuActive }">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Iniciar Sesion</a></li>
      </ul>
            <!-- Ícono del carrito -->
        <div>
            <a routerLink="/cart" class="icon-button">
                <picture>
                    <img class="cart-icon" src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="cart">
                </picture>
            </a>
        </div>
      <div class="navbar-toggle" id="navbar-toggle" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
</nav>


