<div class="container">
    <div class="product">
        <div class="name">
            <h2>{{product?.name}}</h2>
        </div>
        <div class="pic-container">
            <picture class="picture">
                <img class="img" [src]="product?.photos" alt="product">
            </picture>
        </div>
        <div class="description">
            {{product?.description}}
        </div>
        <div class="price">
            {{product?.price}}
        </div>
        <div>
            <div><button>Comprar ahora</button></div>
            <div><button>Agregar al carrito</button></div>
        </div>
    </div>
    <div>
        <div *ngFor="let comment of product?.comments">
            <app-comment-cart [comment]="comment"></app-comment-cart>
        </div>
    </div>
</div>